{% extends "base.html" %}

{% block content %}

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-center">
      <!-- <h1 class="display-5 fw-bold text-body-emphasis mb-4">Check Point Bulk API Command Generator</h1> -->
      <p class="lead mb-4">
        A practical Check Point API command generator for bulk operations. More tools will be added soon.
      </p>
      <div class="alert alert-warning" role="alert">
        Please use this tool with caution. Always test your commands before applying them in production.
      </div>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-4">
        <a href="https://sc1.checkpoint.com/documents/latest/APIs/#~v2%20" target="_blank" class="btn btn-primary btn-lg px-4 gap-3">
          CP API Reference
        </a>
        <a href="https://github.com/jonasKonas/CP_Bulk_API_Generator" target="_blank" class="btn btn-outline-secondary btn-lg px-4">
          GitHub Repo
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}